---
import { getCollection } from "astro:content";

import { TagList } from "@myriaddreamin/tylant";

import BaseHead from "$components/BaseHead.astro";
import Footer from "$components/Footer.astro";
import Header from "$components/Header.astro";

import { kUrlBase, kSiteTitle, kSiteDescription } from "$consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={kSiteTitle} description={kSiteDescription} />
    <style>
      @media (max-width: 600px) {
        .heading {
          display: flex;
          flex-direction: column;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul class="accent block-list posts">
          {
            posts.map((post) => (
              <li>
                <a class="heading" href={`${kUrlBase}/article/${post.id}/`}>
                  <h2>
                    <span class="title">{post.data.title}</span>
                  </h2>
                  <span class="date">
                    <time datetime={post.data.date.toISOString()}>
                      {post.data.date.toLocaleDateString("en-us", {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                      })}
                    </time>
                  </span>
                </a>
                {post.data.tags && <TagList tags={post.data.tags} />}
                {post.data.description || ""}
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <!-- <Footer /> -->
  </body>
</html>
